@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --safe-top: env(--tg-safe-area-inset-top, 0px);
  --safe-bottom: env(--tg-safe-area-inset-bottom, 0px);
}


html, body, #root {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  overflow: hidden;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: white;
  padding-top: var(--safe-top);
  padding-bottom: var(--safe-bottom);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
